.root { position: absolute; top: 64px; bottom: 0; left: 0; right: 0; }

.ListItems-Container {
    padding-top: 15px;
    padding-left: 5px;
    background-color: red;
}

.fullHeight {
    height: 100%;
}

.map {
    background-color: green;
    height: 100%;
}